.jumbotron {
  position: relative;
  height: 100%;
  width: 100%;
  text-shadow: #444 5px 5px 25px;
  color: white; /*#f9535e*/
  background-size: 100% 100%;
  filter: brightness(95%);
  background: url("background.jpg")no-repeat center,
  linear-gradient(
     blue, pink);
}